.DS_Store
tmp/
logs/
project/project
target/
dist
.cache
*.sublime-project
*.sublime-workspace
.idea
atlassian-ide-plugin.xml
test-out*.rdf
catalog-v001.xml
test1.rdf
test.rdf
*.xpr
src/main/scala-2.11/
src/test/scala-2.11/
